html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

textarea {
  font-family: Menlo, monospace;
  font-size: 14px;
  resize: none;
}

.containers {
  display: flex;
  height: 100%;
}

.container {
  width: 50%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

.pane, .inputPane {
  margin-top: 5px;
  padding: 0.6em;
  border: 1px solid #ccc;
  overflow: auto;
  flex-grow: 1;
  flex-shrink: 1;
}
